.login_div {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(-135deg, #f8f6f6, #d8dcdd);
  background: -o-linear-gradient(-135deg, #0f12a8, #d8dcdd);
  background: -moz-linear-gradient(-135deg, #0e51a8, #d8dcdd);
  background: linear-gradient(-135deg, #2597e4, #d8dcdd);
  text-align: center;
}

.login_box {
  padding: 10% 0;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.login_content_div {
  width: fit-content;
  height: 420px;
  background: #fff;
  border-radius: 15px;
}

#login_button {
  height: 50px;
  width: 100px;
  border-radius: 15px;
  background: #849fd8;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-top: 40px;
}

#login_title {
  color: #1b1b1b;
  border-radius: 15px;
  font-size: 40px;
}

.form-group {
  margin: 20px 35px 20px 35px;
  font-size: 22px;
}
input {
  margin: 40px 35px 0px 35px;
  height: 25px;
}
