.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button {
  outline: none;
  background: #333;
  border: none;
  display: inline-block;
  padding: 6px 18px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-ui {
  text-align: center;
}

/*
  End of alert css
*/

h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1%;
  font-size: 50px;
}

.content {
  width: 100vw;
  height: 100vh;
  background: -webkit-linear-gradient(-135deg, #f8f6f6, #d8dcdd);
  background: -o-linear-gradient(-135deg, #7c1212, #d8dcdd);
  background: -moz-linear-gradient(-135deg, #7c1212, #d8dcdd);
  background: linear-gradient(-135deg, #7c1212, #d8dcdd);
}

.card-body {
  margin: 0 4%;
  font-size: 20px;
  border-style: solid;
}

button {
  height: fit-content;
  width: fit-content;
  margin: auto;
  margin-right: 30px;
  border-radius: 15px;
  background: #aa2e1d;
  border: none;
  font-size: 22px;
  text-align: center;
  padding: 15px;
}
td {
  width: fit-content;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

#header {
  color: black;
}

.modal {
  background-color: honeydew;
  border: solid;
  padding: 20px;
}
